@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Roboto", sans-serif;
}

/* 

GENERICS

*/

body {
  background: #242424;
  background: radial-gradient(
    circle,
    rgba(36, 36, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(235, 18, 76, 1) 100%
  );
  height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  padding: 48px 0;
}

.row {
  margin: 0 24px;
}

img {
  width: 100%;
  height: 100%;
}

h1,
.nav__logo,
.movies__results,
.nav__link--anchor,
.movie__title,
.movie__release-date,
.fa-lightbulb,
.fa-video,
.fa-spinner,
.movies__wrapper--message {
  color: #fff;
}

/* 

NAV 

*/

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
}

.nav__logo {
  font-size: 70px;
  color: #ffc107;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(242, 180, 0), 1px 1px 0 rgb(229, 167, 0),
    2px 2px 0 rgb(217, 155, 0), 3px 3px 0 rgb(204, 142, 0),
    4px 4px 0 rgb(191, 129, 0), 5px 5px 0 rgb(178, 116, 0),
    6px 6px 0 rgb(165, 103, 0), 7px 7px 0 rgb(153, 91, 0),
    8px 8px 0 rgb(140, 78, 0), 9px 9px 0 rgb(127, 65, 0),
    10px 10px 0 rgb(114, 52, 0), 11px 11px 10px rgba(0, 0, 0, 0.6),
    11px 11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.nav__links {
  display: flex;
}

.nav__link {
  margin-right: 12px;
  font-size: 18px;
  font-weight: bold;
}

/* 

HEADER 

*/

header {
  width: 100%;
  margin: 0 auto;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.header__title {
  font-size: 64px;
  margin-bottom: 24px;
  color: #ffffff;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(242, 242, 242), 0px 1px 0 rgb(229, 229, 229),
    0px 2px 0 rgb(217, 217, 217), 0px 3px 0 rgb(204, 204, 204),
    0px 4px 0 rgb(191, 191, 191), 0px 5px 0 rgb(178, 178, 178),
    0px 6px 0 rgb(165, 165, 165), 0px 7px 0 rgb(153, 153, 153),
    0px 8px 0 rgb(140, 140, 140), 0px 9px 0 rgb(127, 127, 127),
    0px 10px 0 rgb(114, 114, 114), 0px 11px 10px rgba(0, 0, 0, 0.6),
    0px 11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  max-width: 450px;
  margin-bottom: 24px;
  border-radius: 10px;
  outline: 2px solid #febf00;
  border: 0;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

/* MAIN / SECTION */

main {
  width: 100%;
  margin: 0 auto;
}

/* MOVIES */

#movies .container {
  padding-top: 0;
}

.movies__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  max-width: 1200px;
  margin: 32px auto;
}

.movies__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 50vh;
}

.movies__wrapper--message {
  font-size: 24px;
  font-weight: 500;
}

.movie {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
  transition: transform 300ms ease;
  cursor: no-drop;
}

.movie:hover {
  transform: scale(1.04);
}

.movie__img--container {
  width: 100%;
  max-width: 280px;
  height: 420px;
}

.movie__title {
  text-align: center;
  margin-top: 8px;
  font-weight: 500;
}

.movie__release-date {
  font-weight: 500;
}

/* 

SPINNER 

*/

.fa-spinner {
  animation: spin 1000ms infinite linear;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
}

.movies__loading--spinner {
  display: none !important;
}

.movies-loading .movies__loading--spinner {
  display: block !important;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 

RESPONSIVENESS 

*/

/* LARGE DESKTOPS */
@media (max-width: 1200px) {
  .movies__row {
    margin: 0 32px;
  }
}
/* DESKTOPS */
@media (max-width: 992px) {
  .movie {
    margin: 12px;
  }
}
/* TABLETS */
@media (max-width: 768px) {
  .nav__logo {
    font-size: 60px;
    text-align: center;
  }

  .header__title {
    font-size: 54px;
  }

  input {
    max-width: 380px;
  }
  .movie {
    width: 50%;
  }
}
/* MOBILE PHONES */
@media (max-width: 576px) {
  .movies__results {
    font-size: 20px;
  }
  .movie {
    width: 100%;
  }
}
